<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= filename %> - corsarobianco</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/">corsarobianco</a></h1>
    <form action="search">
        <input name="q" value="<%=q%>">
        <input type="submit" value="search">
    </form>
    <%if (magnetUrl){%>
        <h3><%= filename %></h3>
        <p>magnet url:</p>
        <textarea><%- magnetUrl %></textarea>
        <p>
            Magnet url:
        </p>
        <p>
            <a class="dark" href="<%= magnetUrl %>">Magnet url for "<%= filename %>"</a>
        </p>
        <p>
            On "il corsaro nero":
        </p>
        <p>
            <a class="dark" target="_blank" href="<%=detailsUrl%>"><%= filename %></a>
        </p>
    <%}%>
  </body>
</html>
